@model IList<ChatMessageResult>
@{
    ViewData["Title"] = ViewBag.ChannelName;
    @section Style {
        <link rel="stylesheet" href="~/css/Chat.css" asp-append-version="true" />
    }
}

@if(ViewBag.ChannelName == "Home page"){
<h1>No Chat selected</h1>
}
else{
<div class="channelMessages">
        <partial name="ChannelViewPartial" model="Model" />
</div>
}