@{
    ViewData["Title"] = ViewBag.ChannelName;
    @section Style{
        <link rel="stylesheet" href="~/css/Chat.css" asp-append-version="true" />
    }
}

<div id="channelMessages">
    <partial name="ChannelViewPartial" model="new List<ChatMessageResult>()" />
</div>

