.message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #999999;
    display: flex;
    flex-direction: column;
}

#channelMessages {
    height: 100vh;
    display:grid;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-author {
    margin: 0;
}

.message-date {
    margin: 0;
    color: #ffffff;
}

.message-content{

}

.sendMessage {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #808080;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    box-sizing: border-box;
}

.sendMessage input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Adjust this value to control the width */
}

.sendMessage button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
