.message {
    margin: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #999999;
    display: flex;
    flex-direction: column;
}

.channelMessages {
    max-height: 100vh;
    display: flex;
    flex-direction:column;
    overflow-y: auto;
    justify-content:space-between;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom:86px;
}

.messages::-webkit-scrollbar {
    width: 1px;
    color: white;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-author {
    margin: 0;
}

.message-date {
    margin: 0;
    color: #ffffff;
}

.sendMessage {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #808080;
    bottom: 0;
    width: -webkit-fill-available;
    max-height:85px;
    box-sizing: border-box;
}

.sendMessage input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Adjust this value to control the width */
}

.sendMessage button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.chatter {
    position:fixed;
    width:-webkit-fill-available;
    bottom:0;
}
