@model IList<ChatChannelResult>

@section Style {
    <link rel="stylesheet" href="~/css/Chat.css" asp-append-version="true" />
}

@if (Model.Any())
{
    foreach (var channel in Model)
    {
        <a asp-action="GetChannel" asp-route-Name="@channel.Name" class="channel">@channel.Name</a>
    }
}

<button type="button" style="margin:10px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createChannelModal">
    Create New Channel
</button>

<!-- Modal -->
<div class="modal fade" id="createChannelModal" tabindex="-1" aria-labelledby="createChannelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createChannelModalLabel">Create New Channel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="CreateChannel" method="post">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Channel Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>